<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section class="github">
    <% if current_user.token != nil %>
    <h1>Github</h1>
    <% @repos.first(5).each do |repo| %>
     <div class="repo">
    <p class="name"><%= link_to repo[:name], "http://github.com/#{repo[:full_name]}" %></p>
    </div>
    <% end %>
    <h2>Followers</h2>
      <% @followers.each do |follower| %>
      <div class="follower">
        <p class="follower_name"><%= link_to follower[:login], follower[:html_url] %></p>
      </div>
      <% end %>
      <h2>Following</h2>
        <% @following.each do |person_following| %>
        <div class="following">
          <p class="following_name"><%= link_to person_following[:login], person_following[:html_url] %></p>
        </div>
      <% end %>
      <% end %>
    </section>
</section>
